# zsh aliases

alias dmesg="dmesg -L -T"
alias dt="git difftool"
alias gc="git commit -S"
alias gce="git checkout --"
alias glom="git pull origin master"
alias gpfom="git push -f origin master"
alias gpom="git push origin master"
alias gs="git show"
alias gla="glances -t 3"
alias xopen="xdg-open"   # delegates file handling to platform-relevant tool
alias la="exa -al"
alias ls="exa"
alias m="man"
alias pong="ping 8.8.8.8"
alias rm="rm -I"         # prompt before deleting multiple files
alias sap="notify sudo apt"
alias vi="nvim"
alias weather="curl -4 'http://wttr.in/Kanpur?m'"
