# zsh aliases

alias dmesg="dmesg -L -T"
alias dt="git difftool"
alias gc="git commit -S"
alias gce="git checkout --"
alias glom="git pull origin master"
alias gpfom="git push -f origin master"
alias gpom="git push origin master"
alias gs="git show"
alias gla="glances -t 3"
alias xopen="xdg-open"   # delegates file handling to platform-relevant tool
alias m="man"
alias pong="ping 8.8.8.8"
alias vi="nvim"
alias weather="curl -4 'http://wttr.in/Bangalore?m'"
alias k="kubectl"
# Quoting from `bash -c "help alias"` -
#   A trailing space in VALUE causes the next word to be checked for
#   alias substitution when the alias is expanded.  Alias returns
#   true unless a NAME is given for which no alias has been defined.
# (https://unix.stackexchange.com/a/25329/158139)
alias watch="watch "
