[user]
	name = Shivansh Rai
	email = shivansh@freebsd.org
	signingkey = BDF08F0B

[core]
	editor = vim

[diff]
	tool = vimdiff
	compactionHeuristic = true

[difftool]
	prompt = false

[alias]
	d = difftool

[commit]
	gpgsign = true

[url "git@github.com:"]
  insteadOf = https://github.com/
  insteadOf = http://github.com/

[gc]
	auto = 1
