[user]
	name = Shivansh Rai
	email = shivansh.rai@sap.com
	signingkey = 42AC0175

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	; pager = diff-so-fancy | less --tabs=4 -RFX

[diff]
	tool = vimdiff
	compactionHeuristic = true

[difftool]
	prompt = false

[alias]
	d = difftool

[commit]
	gpgsign = true

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = http://github.com/

[gc]
	auto = 1
[http]
	cookiefile = /home/zeebu/.gitcookies
